<br>
<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table class="table table-bordered">
  <thead>
      <tr *ngIf="dataLoaded==true">
        <th>Ürün Id</th>
        <th>Ürün Adı</th>
        <th>Kategori Id</th>
        <th>Ürün Fiyatı</th>
        <th>Ürün Stoğu</th>
</tr>
</thead>
    <tr *ngFor="let product of products"> 
    <td>{{product.productId}}</td>
    <td>{{product.productName}}</td>
    <td>{{product.categoryId}}</td>
    <td>{{product.unitPrice}} TL</td>  
    <td>{{product.unitsInStock}}</td>
 </tr>
</table>